# Terraform
.terraform/
*.tfstate
*.tfstate.*
terraform.tfvars
crash.log

# Node
node_modules/

# Environment
.env
.env.*

# Logs
*.log

# OS
.DS_Store
Thumbs.db

*.tfvars
*.tfstate
*.tfstate.*
.terraform/
